<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <div>
        <span class="text-nowrap">
            Please take my
            <a target="_blank" class="font-weight-bold" href="https://github.com/mrgrayhat/BlazorMicroBlog">brief survey</a>
        </span>
        and tell me what you think.
    </div>

    <div>
        <span class="text-nowrap">
            My Telegram Channel Address: <a target="_blank" class="font-weight-bold" href="https://t.me/csharpfriends">C# Friends</a>
        </span>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
