div {
    transition: all 0.5s ease;
}

    div:hover {
        background-color: lightseagreen;
        cursor: pointer;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }

        div:hover > p {
            color: white;
        }
