
<div class="container">
    @if (PostsList == null)
    {
        <div id="Loading">
            <span>Loading...</span>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" @onclick=@(async ()=> await FillWithDemoData())>Fill with demo data</button>
                <button class="btn btn-danger" @onclick=@(async () => await DeleteAllPosts())>Delete all posts</button>

            </div>
        </div>

        <div class="row p-2 align-items-center">
            <div class="col">
                <Pagination Paging="Paging" Spread="2" SelectedPage="SelectedPage" />
            </div>
            <div class="col-xs-4 d-flex ">
                <p class="text-nowrap" for="pageSizeSelect">Page Size:</p>
                <select class="custom-select" id="pageSizeSelect" name="pageSizeSelect" @onchange="@ChangePageSize">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="card-deck">
                @foreach (var post in PostsList.Data)
                {
                    <div class="col-auto p-1">
                        <Card Post="post" />
                    </div>
                }
            </div>
        </div>
    }
</div>


@code {

}
