@page "/blog"
@using Application.Shared.DTO.Blog
@inject HttpClient Http


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Blog</a></li>
        <li class="breadcrumb-item active" aria-current="page">Posts</li>
    </ol>
</nav>

@functions{

}
