<AuthorizeView>
    <Authorized>
        <div>
            <a href="/account/profile" class="btn-link">
                <img class="img-thumbnail rounded-circle user-avatar" src="@context.User.FindFirst("Avatar").Value" alt="UserAvatar" />
                Hello, @context.User.Identity.Name!
            </a>
            <a href="/account/logout">
                Log out
                <i class="oi oi-account-logout"></i>
            </a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <a href="/account/registration">
                Register
                <i class="oi oi-people"></i>
            </a>
            <a href="/account/login">
                Log in
                <i class="oi oi-account-login"></i>
            </a>
        </div>
    </NotAuthorized>
</AuthorizeView>
